*/.Xil
*/_ngo
*/_xmsgs
*/ipcore_dir
*/iseconfig
*/isim
*/netgen
*/xlnx_auto_0_xdb
*/xst
*/planAhead_run_1
*/planAhead_run_2
*.exe
*.bld
*.cmd_log
*.ini
*.debug
*.gise
*.html
*.lso
*.csv
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.tcl
*.map
*.txt
*.twr
*.twx
*.unroutes
*.wdb
*.cmd
*.log
*.xdl
*.xml
*.xmsgs
*.xpi
*.xrpt
*.xst